body {
    max-width: 968px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}

div#logoSite {
    float: left;
}

div#headImage {
    float: left;
    margin-left: 2px;
}

div#numbersOper {
    float: left;
    margin-left: 2px;
    height: 90px;
    width: 160px;
    background-color: #242424;
    color: whitesmoke;
    text-align: center;
    border-radius: 2px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0 0 3px black;
}

    div#numbersOper p:first-child {
        /*box-shadow: 0 0 0 black;*/
    }

    div#numbersOper p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: oblique;
    }

div#header {
    clear: both;
    margin-top: 10px;
    width: 964px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 12pt;
    box-shadow: inset;
    background-color: lightgray;
    border-radius: 4px;
    height: 53px;
    box-shadow: 1px 2px 3px black;
}

/* =============== */

div#cart {
    position: absolute;
    height: 66px;
    width: 160px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #242424;
    bottom: 106px;
    left: 804px;
    border-radius: 2px;
    box-shadow: 0 -2px 3px black;
}

    div#cart:hover {
        background-color: deepskyblue;
    }

    div#cart a {
        margin-left: 5px;
        margin-top: 5px;
        display: block;
        text-decoration: none;
        color: white;
        padding-top: 5px;
        padding-left: 9px;
    }

        div#cart a:hover {
            background-color: deepskyblue;
        }

    div#cart img:hover {
        background-color: deepskyblue;
    }

    div#cart span {
        margin: 5px;
    }

    div#cart p {
        text-align: center;
        float: right;
        margin: 0;
        padding-right: 10px;
    }

.hMenu > li:first-child {
    text-align: center;
    width: 140px;
    background-color: darkgrey;
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 6px;
    box-shadow: 1px 2px 3px black;
}

li {
    background-color: darkgrey;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 6px;
    box-shadow: 1px 2px 3px black;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

    ul:after {
        display: block;
        content: ' ';
        clear: both;
        float: none;
    }

    ul.hMenu > li {
        float: left;
        position: relative;
    }

        ul.hMenu > li > a {
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
        }

            ul.hMenu > li > a:hover {
                background-color: white;
                color: black;
                border-radius: 6px;
                box-shadow: 1px 2px 3px black;
            }

    ul.subMenu {
        display: none;
        position: absolute;
        width: 120px;
        top: 33px;
        left: 0;
        background-color: darkgrey;
    }

        ul.subMenu > li {
            display: block;
            margin: 0;
        }

            ul.subMenu > li > a:hover:first-child {
                /*border-radius: 6px 6px 0 0;*/
            }

            ul.subMenu > li > a {
                display: block;
                padding: 10px;
                color: white;
                background-color: darkgrey;
                text-decoration: none;
                border-radius: 6px 6px 0 0;
                box-shadow: 0 -2px 3px black;
            }

                ul.subMenu > li > a:hover {
                    text-decoration: none;
                    background-color: white;
                    color: black;
                }

    ul.hMenu > li:hover > ul.subMenu {
        display: block;
        z-index: 9999;
    }

/* =================== */

div#categories a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 12pt;
    display: block;
    width: 140px;
    text-decoration: none;
    padding: .6em;
    color: white;
    border-bottom: 1px solid black;
    background-color: #242424;
    float: left;
    margin-top: 2px;
    box-shadow: 0 -2px 3px black;
    border-radius: 2px;
}

    div#categories a:first-child {
        margin-top: 7px;
        border-top: 1px solid black;
        float: none;
        box-shadow: 0 0 3px black;
    }

    div#categories a:hover:first-child {
        border-top: 1px solid deepskyblue;
    }

    div#categories a.selected:first-child {
        background-color: deepskyblue;
        border-top: 1px solid deepskyblue;
        color: white;
    }

    div#categories a.selected {
        background-color: deepskyblue;
        color: white;
    }

    div#categories a:hover {
        background-color: deepskyblue;
        border-radius: 2px;
    }

    div#categories a.selected:hover:first-child {
        background-color: deepskyblue;
    }

    div#categories a.selected:hover {
        background-color: deepskyblue;
    }

/* ================ */

div#content {
    position: relative;
    float: right;
    left: -6px;
    bottom: 39px;
}

div#mainPage img {
    width: 800px;
    height: 480px;
    margin-top: -3px;
}

/* ================ */

div.item {
    padding-top: .7em;
    margin-bottom: .7em;
}

    div.item:first-child {
        padding-top: 15px;
    }

    div.item h3 {
        font-size: 1.3em;
        margin: 0 0 .25em 0;
    }

    div.item h4 {
        font-size: 1.1em;
        margin: .4em 0 0 0;
    }

form {
    margin: 0;
    padding: 0;
}

div.item form {
    float: right;
}

div.item input {
    color: white;
    background-color: deepskyblue;
    cursor: pointer;
    margin-left: -30%;
    border: 1px solid gray;
    box-shadow: 0 0 2px black;
}

/* ========================= */

.container {
    width: 780px;
    height: 900px;
    margin: 40px auto;
    margin-right: 10px;
    margin-top: 0;
}

.catalog {
    width: 780px;
    height: 900px;
    background-color: antiquewhite;
}

.item {
    display: inline-block;
    width: 240px;
    margin-right: 15px;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    vertical-align: top;
    text-align: center;
    font-size: 16px;
    color: black;
    background-color: antiquewhite;
    box-shadow: 0 0 3px black;
    border-radius: 2px;
}

    .item:nth-child(3n) {
        margin-right: 0;
    }

.prodImage {
    height: 220px;
    width: 220px;
    margin-left: 0;
    background-color: antiquewhite;
    box-shadow: 0 0 5px black;
    border-radius: 3px;
}



/* ============================== */

div.item div.selectiveProp {
    display: none;
}

div.item:hover div.selectiveProp {
    display: block;
    position: absolute;
    vertical-align: top;
    width: 240px;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 0 3px 3px black;
    border-radius: 0 0 2px 2px;
    border-top: none;
    margin-top: 65px;
    z-index: 9999;
}

div.item:hover {
    box-shadow: 0 -3px 3px black;
}

/* ============================== */

.tabs {
    width: 100%;
    padding: 0px;
    position: absolute;
    margin-top: 166px;
    margin-left: 10px;
}

    .tabs > input {
        display: none;
    }

    .tabs > div {
        display: none;
        padding: 12px;
        border: 1px solid grey;
        border-radius: 0 0 3px 3px;
        border-top: none;
        background: white;
        width: 374px;
        box-shadow: 0 0 2px black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15pt;
        font-weight: 200;
    }

    .tabs > label {
        display: inline-block;
        width: 184px;
        padding: 7px;
        margin: 0 -4px 0 0;
        border: 1px solid grey;
        border-bottom: none;
        border-radius: 3px 3px 0 0;
        text-align: center;
        color: white;
        background: darkgrey;
        cursor: pointer;
        box-shadow: 0 0 1px black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15pt;
        font-weight: 400;
    }

    .tabs > input:checked + label {
        color: black;
        border: 1px solid grey;
        border-bottom: none;
        border-top: none;
        background: white;
        box-shadow: 0 -1px 2px black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15pt;
        font-weight: 400;
    }

#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2 {
    display: block;
}

/* ============= */

.price {
    color: #242424;
    font-weight: 900;
    font-size: 20pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.priceLine {
    margin-right: 100px;
    font-size: 15pt;
}

.item {
    font-weight: 200;
    font-size: 15pt;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


    .item p:first-child {
        margin: 0;
    }

    .item p {
        margin-top: 0.5em;
    }

input {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    float: right;
    margin-right: -85px;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* ============================= */

.titleDescr {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    font-weight: 200;
}

.shortDescr {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: 200;
    float: left;
    text-align: left;
    margin-left: 15px;
    width: 210px;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

    .shortDescr:last-child {
        margin-bottom: 10px;
    }

span.shortDescrValue {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: 200;
    float: right;
}

div.descrBlock {
    margin-top: 15px;
}

    div.descrBlock p:first-child {
        margin-left: 15px;
    }
/* ==================== */

.currentCategory {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24pt;
    font-weight: 200;
    margin-top: 5px;
    margin-left: 10px;
}

.sortOption {
    float: right;
    margin-top: -26px;
    margin-right: 440px;
}

div.pager {
    position: relative;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17pt;
    font-weight: 600;
    right: 50%;
    margin-top: -15px;
}

    div.pager a {
        text-decoration: none;
        color: #242424;
        margin: 5px;
        box-shadow: 0 0 3px black;
        border-radius: 2px;
        padding: 5px;
    }

        div.pager a:hover {
            text-decoration: none;
            color: #242424;
            margin: 5px;
            box-shadow: 0 0 5px black;
            border-radius: 2px;
            padding: 5px;
        }

/* ==================== */

.detailProdName {
    margin-left: 15px;
    margin-top: -15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24pt;
    font-weight: 200;
}

.detailProdImage {
    box-shadow: 0 0 5px black;
    border-radius: 3px;
    margin-left: 10px;
}

/* =================== */

#detailImg:hover {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.modal-content {
    position: fixed;
    display: block;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#caption {
    position: fixed;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16pt;
}

.close {
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

    .close:hover {
        font-weight: bold;
        cursor: pointer;
        color: white;
    }

/* ==================  */

.detailProdBlock {
    width: 780px;
    height: 900px;
    float: left;
    margin-right: 15px;
    margin-top: -3px;
}

.detailProdPrice {
    position: absolute;
    margin-left: 420px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24pt;
    font-weight: 800;
}

.detailProdBuyButton input {
    float: right;
    margin-right: 10px;
    margin-top: -395px;
    padding-right: 13px;
    padding-bottom: 10px;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19pt;
    font-weight: 400;
    color: white;
    text-align: right;
    background-color: deepskyblue;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 0 3px black;
}

.detailProdBuyButton a {
    float: right;
    margin-right: 110px;
    margin-top: -395px;
}

.detailProdDescrBlock {
    width: 330px;
    height: 200px;
    margin-left: 440px;
    margin-top: -350px;
}

    .detailProdDescrBlock .shortDescr {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15pt;
        font-weight: 200;
        /*float: left;*/
        position: relative;
        text-align: left;
        margin-left: 15px;
        top: -340px;
        width: 210px;
        margin-bottom: 0.1em;
        margin-top: 0.1em;
    }

    .detailProdDescrBlock .shortDescrValue {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15pt;
        color: #242424;
        font-weight: 200;
        float: right;
        margin-right: -80px;
    }

/* ============================== */

.cartIndexBlock {
    width: 760px;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    font-weight: 200;
    color: #242424;
}

    .cartIndexBlock th {
        font-size: 15pt;
        font-weight: 400;
    }

    .cartIndexBlock h2 {
        font-size: 24pt;
        font-weight: 200;
        margin-left: -10px;
        margin-top: 5px;
    }

    .cartIndexBlock td {
        /*border: 1px solid black;*/
    }

    .cartIndexBlock table {
        margin-left: -10px;
        margin-top: -10px;
    }

    .cartIndexBlock tfoot td {
        border-top: 2px solid gray;
        font-weight: 400;
    }

    .cartIndexBlock input.actionButtons {
        background: red;
        border: none;
        border-radius: 4px;
        width: 80px;
        height: 40px;
        margin-top: 15px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12pt;
        font-weight: 400;
        padding: 5px;
        box-shadow: 1px 2px 3px black;
        cursor: pointer;
    }

    .cartIndexBlock a {
        background: #242424;
        border-radius: 4px;
        font-size: 12pt;
        font-weight: 400;
        text-decoration: none;
        cursor: pointer;
        padding: 10px;
        color: white;
        box-shadow: 1px 2px 3px black;
    }

        .cartIndexBlock a:hover {
            background: deepskyblue;
        }

    .cartIndexBlock p {
        float: right;
        margin-right: 5px;
    }

    /* ========================== */

    .cartIndexBlock input.cartNumber {
        float: left;
        margin-top: 10px;
        margin-left: 10px;
        width: 35px;
        height: 35px;
        text-align: center;
        font-size: 12pt;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .cartIndexBlock input.btnCart {
        float: left;
        width: 25px;
        height: 25px;
        margin-left: 55px;
        cursor: pointer;
    }

#btnUp {
}

#btnDown {
    margin-top: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* ========================== */

.checkout {
    margin-right: 375px;
}

    .checkout h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 24pt;
        font-weight: 200;
        margin-left: 10px;
        margin-top: 5px;
    }

    .checkout p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15pt;
        font-weight: 200;
        margin-left: 10px;
        margin-top: 10px;
    }

    .checkout div {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13pt;
        font-weight: 200;
        margin-left: 10px;
        margin-top: 10px;
    }

        .checkout div input {
            width: 250px;
            height: 20px;
            margin: 0;
        }

    .checkout input.actionButtons {
        background: #242424;
        border-radius: 4px;
        font-size: 12pt;
        font-weight: 400;
        text-decoration: none;
        cursor: pointer;
        padding: 10px;
        color: white;
        box-shadow: 1px 2px 3px black;
        width: 180px;
        border: none;
        float: right;
        margin: 0;
        margin-top: 10px;
    }

        .checkout input.actionButtons:hover {
            background-color: deepskyblue;
        }

    /* ====================== */

    .checkout .field-validation-error {
        color: #f00;
    }

    .checkout .field-validation-valid {
        display: none;
    }

    .checkout .input-validation-error {
        border: 2px solid #f00;
        background-color: #fee;
    }

    .checkout .validation-summary-errors {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13pt;
        font-weight: 400;
        margin-left: 5px;
        color: #f00;
    }

    .checkout .validation-summary-valid {
        display: none;
    }

    .checkout li {
        box-shadow: none;
        background-color: antiquewhite;
    }

        .checkout li:last-child {
            margin-bottom: 20px;
        }

/* ==================== */

.completed p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24pt;
    font-weight: 200;
    text-align: left;
    margin-right: 200px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

/* ====================*/

.filter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 12pt;
    display: block;
    position: absolute;
    width: 120px;
    height: 35px;
    margin-left: 375px;
    margin-top: -40px;
    color: white;
    border-bottom: 1px solid black;
    background-color: #242424;
    border-radius: 3px;
    box-shadow: 0 0 2px black;
}

    .filter:hover {
        background-color: deepskyblue;
        cursor: pointer;
    }

    .filter img {
        margin-top: -11px;
        margin-left: 5px;
    }

    .filter span {
        position: absolute;
        margin-top: -10px;
        margin-left: 5px;
    }

/* ====================== */

div.filterBlock {
    width: 165px;
    position: absolute;
    left: -180px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

    div.filterBlock p.filterProp {
        font-weight: 600;
        font-size: 14pt;
    }

    div.filterBlock p.filterValue {
        border-bottom: dotted gray 1px;
        margin-bottom: 10px;
    }

.radioFilterBtn {
    transform: scale(0.5);
    margin-right: -5px;
    margin-top: -45px;
}
/* ========================= */

.categoryReturnBtn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 12pt;
    position: absolute;
    width: 120px;
    height: 35px;
    margin-left: 20px;
    margin-top: -45px;
    color: white;
    border-bottom: 1px solid black;
    background-color: #242424;
    border-radius: 3px;
    box-shadow: 0 0 2px black;
}

.categoryReturnBtn:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

.categoryReturnBtn img {
    margin-bottom: 10px;
    margin-top: -10px;
    margin-left: 5px;
}

.categoryReturnBtn span {
    position: absolute;
    margin-top: -10px;
    margin-left: 5px;
}
