@model CompAccessory.WedUI.Models.LoginViewModel

@{
    ViewBag.Title = "Admin: Login In";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Вход в систему</h2>

<p>Пожалуйста войдите в систему, чтобы получить доступ к админ. панели</p>
@* Метод Html.BeginForm генерирует элементы HTML-формы. *@
@* Данный хелпер создает как открывающий тег <form>, так и закрывающий тег </form> *@
@using (Html.BeginForm())
{
    @* Хелпер Html.ValidationSummary: отображает сообщения об ошибках при валидации модели *@
    @* Если параметр равен true, то вверху будут отображаться только сообщения об ошибках уровня модели, *@
    @* а специфические ошибки будут отображаться рядом с полями ввода. *@
    @* Если же параметр равен false, то вверху отображаются все ошибки. *@
    @Html.ValidationSummary(true)
    @* Шаблонный хелпер EditorForModel() создает поля для редактирования для всех свойств модели *@
    @Html.EditorForModel()
    <p><input type="submit" value="Войти" /></p>
}


