@model ApplicationForCash.Models.ViewModels.LoginModel

@{
    ViewBag.Title = "Авторизация";
    Layout = "_Layout";
}

<h1 class="page-theme">Авторизация</h1>

<p class="page-description">Пожалуйста авторизируйтесь, чтобы получить доступ к сайту.</p>

@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    <div class="form">

        <label>Логин: </label>
        <p>@Html.EditorFor(m => m.Login)</p>
        <label>Пароль: </label>
        <p>@Html.EditorFor(m => m.Password)</p>

        @Html.HiddenFor(m => m.ReturnUrl)

        <input class="submit-btn" type="submit" value="Войти" />
    </div>

    <div>
        <p>Zhukov / Zhukov123</p>
        <p>Drozda / Drozda123</p>
    </div>
}