<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=1900" />*@ <!-- Фиксированная верстка -->
    @*<meta name="viewport" content="width=device-width" />*@ <!-- Отзывчивая верстка ("резиновая") -->
    <meta name="viewport" content="width=device-width" /> <!-- Адаптивная верстка -->
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <!-- Фиксированная верстка (не адаптивная) -->
    @*<div class="container">
            <div class="box-1"><span>BOX-1</span> ASP.NET MVC Framework — фреймворк для создания веб-приложений, который реализует шаблон Model-view-controller.</div>
            <div class="box-2"><span>BOX-2</span> ASP.NET MVC Framework — фреймворк для создания веб-приложений, который реализует шаблон Model-view-controller.</div>
            <div class="box-3"><span>BOX-3</span> ASP.NET MVC Framework — фреймворк для создания веб-приложений, который реализует шаблон Model-view-controller.</div>
            <div class="big-box-1">
                <span>BIG-BOX-1</span> C# разрабатывался как язык программирования прикладного уровня для CLR и, как таковой, зависит, прежде всего, от возможностей самой CLR.
            </div>
            <div class="big-box-2">
                <span>BIG-BOX-2</span> C# разрабатывался как язык программирования прикладного уровня для CLR и, как таковой, зависит, прежде всего, от возможностей самой CLR.
            </div>
        </div>*@

    <!-- -->
    <!-- Отзывчивая верстка ("резиновая") -->
    @*<div class="container">
            <div class="box-1"><span>BOX-1</span> ASP.NET MVC Framework — фреймворк для создания веб-приложений, который реализует шаблон Model-view-controller.</div>
            <div class="box-2"><span>BOX-2</span> ASP.NET MVC Framework — фреймворк для создания веб-приложений, который реализует шаблон Model-view-controller.</div>
            <div class="box-3"><span>BOX-3</span> ASP.NET MVC Framework — фреймворк для создания веб-приложений, который реализует шаблон Model-view-controller.</div>
            <div class="break"></div>
            <div class="big-box-1">
                <span>BIG-BOX-1</span> C# разрабатывался как язык программирования прикладного уровня для CLR и, как таковой, зависит, прежде всего, от возможностей самой CLR.
            </div>
            <div class="big-box-2">
                <span>BIG-BOX-2</span> C# разрабатывался как язык программирования прикладного уровня для CLR и, как таковой, зависит, прежде всего, от возможностей самой CLR.
            </div>
        </div>*@

    <!-- -->
    <!-- Адаптивная верстка -->

    <div class="container">
        <div class="box-1"><span>BOX-1</span> ASP.NET MVC Framework — фреймворк для создания веб-приложений, который реализует шаблон Model-view-controller.</div>
        <div class="box-2"><span>BOX-2</span> ASP.NET MVC Framework — фреймворк для создания веб-приложений, который реализует шаблон Model-view-controller.</div>
        <div class="box-3"><span>BOX-3</span> ASP.NET MVC Framework — фреймворк для создания веб-приложений, который реализует шаблон Model-view-controller.</div>
        <div class="break"></div>
        <div class="big-box-1">
            <span>BIG-BOX-1</span> C# разрабатывался как язык программирования прикладного уровня для CLR и, как таковой, зависит, прежде всего, от возможностей самой CLR.
        </div>
        <div class="big-box-2">
            <span>BIG-BOX-2</span> C# разрабатывался как язык программирования прикладного уровня для CLR и, как таковой, зависит, прежде всего, от возможностей самой CLR.
        </div>
    </div>

    <!-- -->

    <!-- Отзывчиво-адаптивная верстка -->
    <!-- Приминение к отзывчивой верстке, брейкпоинтов и измененной стилизации - перестраивание блоков из адаптивной верстки. -->

    <!-- -->

</body>
</html>