
    <ul class="hMenu">
        <li><a href="/HorizontalNav/MainPage">Главная</a></li>
        <li><a href="/HorizontalNav/AboutCompany">О компании</a></li>
        <li><a href="/HorizontalNav/Delivery">Доставка и оплата</a></li>
        <li><a href="/HorizontalNav/Warranty">Гарантия</a></li>
        <li><a href="/HorizontalNav/Contacts">Контакты</a></li>
        <li>
            <a href="#">Наши магазины</a>
            <ul class="subMenu">
                <li><a href="/HorizontalNav/ShopSeverniy">Магазин 1: Адрес</a></li>
                <li><a href="/HorizontalNav/ShopKosiora">Магазин 2: Адрес</a></li>
            </ul>
        </li>
    </ul>
