@model StoreEngine.WebUI.Models.AdminIndexViewModel

@{
    ViewBag.Title = "Store Engine";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.Products.Count() != 0)
{
    <table class="grid">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th class="NumericCol">Price</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@Html.ActionLink(item.Name, "Edit", new { item.ProductID })</td>
                <td class="NumericCol">@item.Price.ToString("c")</td>
                <td>
                    @using (Html.BeginForm("Delete", "Admin"))
                    {
                        @Html.Hidden("ProductID", item.ProductID)
                        <input type="submit" value="Delete" />
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>At the moment you don't have any products! You may create them rigth now!</p>
}



