<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="logoSite">
        <a href='@Url.Action("MainPage", "HorizontalNav")'><img src="~/Content/Images/LogoSite.jpg" alt="Логотип сайта"></a>
    </div>
    <div id="headImage">
        <img src="~/Content/Images/HeadImage.jpg" />
    </div>
    <div id="numbersOper">
        <p>(067) 741 26 82</p>
        <p>(050) 534 34 30</p>
        <p>(063) 543 31 11</p>
    </div>
    <div id="header">
        @{ Html.RenderAction("Menu", "HorizontalNav"); }
        @{ Html.RenderAction("Summary", "Cart"); }
    </div>
    <div id="categories">
        @{ Html.RenderAction("Menu", "Nav"); }
    </div>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>