<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" type="text/css" rel="stylesheet" />
    <title>Messenger</title>
</head>
<body>
    <div class="header">
        <h1>Messenger</h1>
    </div>

    <div class="main-content">
        @RenderBody()
    </div>
</body>
</html>