<div class="title-about" id="about-link">
    <span>Обо мне</span>
</div>
<div class="break-line"></div>
<div class="my-photo">
    <img src="~/Content/Images/my-photo.png" />
</div>
<div class="about">
    <div class="text-about">
        <p>
            Здравствуйте, меня зовут Дмитрий
            <br>Я рад приветствовать вас на моем сайте!
            <br>Я занимаюсь <span>web-разработкой</span>, изучаю эту обширную и быстро развивающуюся отрасль сравнительно недавно.
            Каждый день я изучаю что-то новое повышая свои профессиональные навыки и развиваясь в данном направлении.
            Выполняю <span>верстку</span> и <span>программирование</span> сайтов, занимаюсь доработкой и добавлением нового функционала на сайт.
            В своей работе использую популярный фреймворк <span>ASP.NET MVC</span> и язык программирования <span>C#</span>
        </p>
    </div>
</div>

