<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/AdminDemo.css" type="text/css" rel="stylesheet" />
    <title>AdminDemo</title>
</head>
<body>
    <div>
        <img class="myScreens" src="~/Content/Images/1.png" />
        <img class="myScreens" src="~/Content/Images/2.png" />
        <img class="myScreens" src="~/Content/Images/3.png" />
        <img class="myScreens" src="~/Content/Images/4.png" />
        <img class="myScreens" src="~/Content/Images/5.png" />
        <img class="myScreens" src="~/Content/Images/6.png" />
        <img class="myScreens" src="~/Content/Images/7.png" />
        <img class="myScreens" src="~/Content/Images/8.png" />
        <img class="myScreens" src="~/Content/Images/9.png" />
        <img class="myScreens" src="~/Content/Images/10.png" />

        <a class="prev" onclick="plusScreen(-1)">&#10094</a>
        <a class="next" onclick="plusScreen(1)">&#10095</a>

        <div class="dots-container">
            @for (int i = 1; i <= 10; i++)
            {
                <span class="dot" onclick="currentScreen(@i)"></span>
            }
        </div>
    </div>

    <script type="text/javascript">

        document.body.style.overflow = 'hidden';

        var screenIndex = 1;
        ShowScreens(screenIndex);

        function plusScreen(n) {
            ShowScreens(screenIndex += n);
        }

        function currentScreen(n) {
            ShowScreens(screenIndex = n);
        }

        function ShowScreens(n) {

            var screens = document.getElementsByClassName('myScreens');
            var dots = document.getElementsByClassName('dot');

            if (n > screens.length) {
                screenIndex = 1
            }

            if (n < 1) {
                screenIndex = screens.length
            }

            for (var i = 0; i < screens.length; i++) {
                screens[i].style.display = "none";
            }

            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace("active", "");
            }

            screens[screenIndex - 1].style.display = "block";
            dots[screenIndex - 1].className += " active";
        }

    </script>

</body>
</html>
