<div class="title-advantages" id="advn-link">
    <span>Преимущества</span>
</div>
<div class="block-advantages">
    <div class="advantage-1">
        <p>Легкость</p>
        <p>
            Сайт, созданный на ASP.NET MVC содержит только необходимый функционал.
            Такой сайт будет работать быстрее, он без труда откроется на вашем смартфоне
        </p>
    </div>
    <div class="advantage-2">
        <p>Чистота кода</p>
        <p>
            Минимум лишнего кода, что опять же, положительно сказывается на скорости загрузки.
            Чистый HTML код небольшого размера значительно упрощает разработку и поддержку
        </p>
    </div>
    <div class="break-line"></div>
    <div class="advantage-3">
        <p>Гибкость</p>
        <p>
            Никаких ограничений в функционале, если вам потребуется создать что-то особенное.
            Простота, удобство доработки и расширения вашего сайта
        </p>
    </div>
    <div class="advantage-4">
        <p>Простота управления</p>
        <p>
            Легкость управления и администрирования сайта, ввиду максимальной заточенности под ваш проект и потребности.
            Админ-панель вашего сайта содержит только необходимый вам функционал, исключая настройки, в которых нет необходимости
        </p>
    </div>
    <div class="break-line"></div>
    <div class="advantage-5">
        <p>Технологичность</p>
        <p>
            Инфраструктура ASP.NET MVC полагается на проверенные шаблоны и приёмы разработки,
            которые делают акцент на слабо связанной архитектуре, что привносит ряд преимуществ в разработку и поддержку приложения
        </p>
    </div>
    <div class="advantage-6">
        <p>Безопасность</p>
        <p>
            Вероятность взлома сайта, созданного на самописной системе управления минимальна,
            так как хакеры в основном взламывают ресурсы используя незакрытые “дыры” в популярных движках
        </p>
    </div>
    <div class="floor"></div>
</div>
