@model MessageSending.Models.ClientMessage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <title>SendingForm</title>
</head>
<body>
    <header>
        <p><h1>SUNROSE</h1></p>
        <p><span class="caption">Доставка цветов по Украине и миру</span></p>
    </header>
    <div class="form">
        <div class="textBox">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
               
                <label>Введите сообщение</label>
                <p>@Html.TextBoxFor(x => x.Message)</p>

                <input type="submit" value="Отправить" />
            }
        </div>
    </div>
</body>
</html>
