<!-- Компоновки - это специализированная форма представлений; -->
<!-- Вызов метода @* @RenderBody *@ вставляет в разметку копмоновки контент представления, -->
<!-- указанный методом действия -->
<!-- Любые элементы в компоновке будут применяться к любому представлению, -->
<!-- которое использует эту компоновку и именно поэтому компоновки являются, -->
<!-- в сущности, шаблонами -->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />

    <!-- Проверка достоверности на стороне клиента, при которой данные проверяются -->
    <!-- в браузере с использованием JavaScript-библиотеки jQuery. -->
    <!-- Обнаружена ошибка! (Код закоментирован) -------------------------------------------------- -->
    <!-- Поле Price (Цена(грн)) не проходит валидацию при редактировании или создании нового товара -->
    <!-- Ошибка: The field must be a number ------------------------------------------------------- -->
    <!-- <script src="~/Scripts/jquery-3.3.1.js"></script> ---------------------------------------- -->
    <!-- <script src="~/Scripts/jquery.validate.min.js"></script> --------------------------------- -->
    <!-- <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script> --------------------- -->
    <!-- ------------------------------------------------------------------------------------------ -->

    <title></title>
</head>
<body>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="message">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>
