
/* _Layout View */

html, body {
    height: 100%;
    margin: 0;
    /*overflow-y: hidden;*/
}

div.header {
    vertical-align: middle;
    text-align: center;
    height: 15%;
    background-color: deepskyblue;
    border-bottom: 4px double black;
}

    div.header h1 {
        display: inline-block;
        vertical-align: middle;
        color: white;
        text-shadow: black 0 0 5px;
    }

div.main-content {
    min-height: 70vh;
    text-align: center;
}

/* Common Views styles */

h1.page-theme {
    font-size: 140%;
    margin-bottom: 0;
}

p.page-description {
    margin-top: 1%;
    font-size: 110%;
}

    p.page-description label {
        font-weight: bold;
    }

div.validation-summary-errors ul {
    color: red;
    font-weight: bold;
    display: inline-block;
    margin: 0;
}

div.validation-summary-errors {
    margin-bottom: 1%;
}

input.nav-btn {
    margin-top: 2%;
}

input.logout-btn {
    background-color: dimgrey;
}

table.grid {
    border-top: 2px solid grey;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 90%;
}

    table.grid th {
        font-weight: bold;
        padding: 10px;
    }

    table.grid td, table.grid th {
        border-bottom: 1px dotted gray;
    }

/* Login View */

div#login-form {
    border: 1px solid black;
    display: inline-block;
    padding: 2%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    border-radius: 2px;
    box-shadow: black 0 0 3px;
}

    div#login-form label {
        font-size: 110%;
        float: left;
    }

    div#login-form p {
        margin-top: 2%;
    }

        div#login-form p:last-child {
            margin: 0;
        }

input#login-btn {
    background-color: lightgrey;
    width: 40%;
    margin: 0;
    padding: 2%;
}

/* Index/Message View */

div#general-chat {
    width: 45%;
    float: left;
    border: 3px double black;
    margin-left: 4%;
    border-radius: 3px;
    background-color: ghostwhite;
}

div.user-message {
    border: 1px solid grey;
    display: inline-block;
    background-color: aquamarine;
    border-radius: 8px;
    margin: 1%;
    padding: 1% 3% 1% 3%;
    float: right;
    margin-left: 40%;
    text-align: left;
}

div.someone-message {
    border: 1px solid grey;
    display: inline-block;
    background-color: lightblue;
    border-radius: 8px;
    margin: 1%;
    padding: 1% 3% 1% 3%;
    float: left;
    margin-right: 40%;
    text-align: left;
}

p.user-name {
    font-weight: bold;
    text-align: left;
    padding-left: 2%;
}

p.message-content {
}

p.message-date {
    font-size: 80%;
    text-align: right;
}

div#breal-line {
    width: 100%;
}

div#msg-sending-form {
    width: 45%;
    float: left;
}

textarea#msg-content-area {
    resize: none;
    width: 400px;
    height: 20vh;
    padding: 5px;
}
